#Container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 300px;
    width: 50%;
    font-size: 1.5em;
    text-align: center
}

@keyframes rotate{
    0%{transform: rotate(0deg);}
    20%{transform: rotate(-80deg);}
    40%{transform: rotate(-180deg);}
    70%{transform: rotate(0deg);}
    80%{transform: rotate(30deg);}
    100%{transform: rotate(0deg);}
}

#Icon{
    animation: rotate 5s infinite;
}

